@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Pink Sunset';
        src: url('PinkSunset-Regular.ttf') format('truetype'),
        url('PinkSunset-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
}
